---
import Section from "./Section.astro";

interface Props {
    img? : string;
    video? : string;
    h3 : string;
    h2 : string;
    button : string;
    color : string;
}

const { img, h3, h2, button, video, color } = Astro.props;
---

<Section color={color} img={img}>
    <video autoplay muted loop id="myVideo" class="absolute size-full object-fill z-0">
        <source class="w-full h-full" src={video} type="video/mp4">
    </video>
    <div class="grid relative ml-10 p-3 max-w-md top-[600px] place-items-center sm:ml-20 sm:top-96">
        <h3 class="block w-full text-white text-xl text-start">{h3}</h3>
        <h2 class="block mt-1 w-full text-white text-5xl font-bold text-start">{h2}</h2>
        <span class="flex mt-8 w-full float-left">
            <button class="grid py-3 px-14 border-2 border-white text-white font-bold place-items-center">{button}</button>
        </span>
    </div>
</Section>

<style>
    button {
        position: relative;
        text-decoration: none;
        z-index: 1;
    }

    button::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: white;
        color: white;
        bottom: 0;
        left: 0;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform .3s ease-in-out;
    }

    button:hover::before {
        transform-origin: bottom;
        transform: scaleY(1);
        z-index: -1;
    }

    button:hover {
        color: black;
    }
</style>