---
import ChevronDownIcon from './icons/ChevronDownIcon.astro';

interface Props {
    img? : string;
    video? : string;
    h3 : string;
    h2 : string;
    button : string;
    color : string;
}

const { img, h3, h2, button, video, color } = Astro.props;
---

<section data-header-color={color} style={img} class="relative w-full h-screen bg-cover bg-center snap-center">
    <video autoplay muted loop id="myVideo" class="absolute size-full object-fill z-0">
        <source class="w-full h-full" src={video} type="video/mp4">
    </video>
    <div class="grid relative ml-10 p-3 max-w-md top-[50%] place-items-center sm:ml-20">
        <h3 class="block w-full text-white text-xl text-start opacity-0">{h3}</h3>
        <h2 class="block mt-1 w-full text-white text-5xl font-bold text-start opacity-0">{h2}</h2>
        <span id="btn-animation" class="flex mt-8 w-full float-left opacity-0">
            <button class="grid py-3 px-14 border-2 border-white text-white font-bold place-items-center">{button}</button>
        </span>
    </div>
    <div id="div-icon" class="grid absolute ml-[48%] size-12 top-[88%] place-items-center">
        <ChevronDownIcon/>
    </div>
</section>

<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    #h3_1 {
        animation: fadeIn 1s ease-out;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
    }

    #h3_2 {
        animation: fadeIn 1s ease-out;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
    }

    #h3_3 {
        animation: fadeIn 1s ease-out;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
    }

    #h3_4 {
        animation: fadeIn 1s ease-out;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
    }

    #h3_5 {
        animation: fadeIn 1s ease-out;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
    }

    #h3_6 {
        animation: fadeIn 1s ease-out;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
    }

    #h2_1 {
        animation: fadeIn 1s ease-out;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
    }

    #h2_2 {
        animation: fadeIn 1s ease-out;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
    }

    #h2_3 {
        animation: fadeIn 1s ease-out;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
    }

    #h2_4 {
        animation: fadeIn 1s ease-out;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
    }

    #h2_5 {
        animation: fadeIn 1s ease-out;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
    }

    #h2_6 {
        animation: fadeIn 1s ease-out;
        animation-delay: 600ms;
        animation-fill-mode: forwards;
    }

    #btn_1 {
        animation: fadeIn 1s ease-out;
        animation-delay: 900ms;
        animation-fill-mode: forwards;
    }

    #btn_2 {
        animation: fadeIn 1s ease-out;
        animation-delay: 900ms;
        animation-fill-mode: forwards;
    }

    #btn_3 {
        animation: fadeIn 1s ease-out;
        animation-delay: 900ms;
        animation-fill-mode: forwards;
    }

    #btn_4 {
        animation: fadeIn 1s ease-out;
        animation-delay: 900ms;
        animation-fill-mode: forwards;
    }

    #btn_5 {
        animation: fadeIn 1s ease-out;
        animation-delay: 900ms;
        animation-fill-mode: forwards;
    }

    #btn_6 {
        animation: fadeIn 1s ease-out;
        animation-delay: 900ms;
        animation-fill-mode: forwards;
    }

    button {
        position: relative;
        text-decoration: none;
        z-index: 1;
    }

    button::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: white;
        color: white;
        bottom: 0;
        left: 0;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform .3s ease-in-out;
    }

    button:hover::before {
        transform-origin: bottom;
        transform: scaleY(1);
        z-index: -1;
    }

    button:hover {
        color: black;
    }

    #div-icon {
        animation-name: anim;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
    }

    @keyframes anim {
        to {
            transform: translateY(15px);
            opacity: 0;
        }
    }
</style>